<footer>
  <div class="row">
    <div class="container">
      <div class="col-md-4"><a href="#" class="navbar-brand"><img src="assets/images/logo.png" alt="Logo" class="img-responsive"/></a></div>
      <div class="col-md-4">
        <h1>Na sajtu</h1>
        <hr/>
        <ul>
          <li><a ui-sref="app.home">Pitanja</a></li>
          <li><a ui-sref="app.articles">Svaštara</a></li>
          <li><a ui-sref="app.contact">Kontakt</a></li>
          <li><a ui-sref="app.terms">Uslovi korišćenja</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h1>Društvene mreže</h1>
        <hr/>
        <ul>
          <li><a>Facebook</a></li>
          <li><a>Twitter</a></li>
          <li><a>Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
