<div id="content-wrap">
  <section class="container">
    <div class="row">
      <div class="main-content col-md-9">

        <div ng-if="operationProgress.getAllArticles" style="text-align: center;">
          <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>

        <div ng-if="fetchError" style="text-align: center;">
          {{fetchError}}
        </div>
        <div class="grid posts">

          <div ng-if="articles">
            <div class="grid-item col-md-4 col-sm-6 col-xs-12" ng-repeat="article in articles" on-last-repeat>
              <article>
                <a ui-sref="app.articles.detail({id : article.id})" >
                  <img ng-if="!article.image || !checkImageUrl(article.image)" src="assets/images/post-test-6.jpg" alt="Question cover image" class="img-responsive" style="height: 180px;"/>
                  <img ng-if="article.image && checkImageUrl(article.image)" ng-src="{{article.image}}" alt="Question cover image" class="img-responsive" style="height: 180px;"/>
                </a>
                <div class="post-content clearfix {{article.user.sex}}-post" style="height: 180px !important;">
                  <h1>
                    <span>{{article.timestamp}}</span>
                  </h1>
                  <h2><a ui-sref="app.articles.detail({id : article.id})">{{article.title}}&nbsp; <i class="fa fa-picture-o" ng-show="article.image"></i></a></h2>
                  <h3><a ui-sref="app.category({id : article.category.id})">{{article.category.name}}</a></h3>
                  <div  ng-bind-html="article.text | emoticons:{linkTarget:'_blank'}"><p class="question-text">{{article.text}}</p></div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <aside class="main-sidebar col-md-3" ui-view="sidebar"></aside>
    </div>
  </section>
</div>
