<section class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content">
        <h1>Resetuj svoju šifru</h1>
        <p>
          Ukoliko ste zaboravili šifru, unesite vašu email adresu ovde, a mi ćemo vam poslati mail sa linkom koji će vam omogućiti da kreirate novu šifru sa vašim nalogom.
        </p>

        <form >
          <label for="email">email:</label><input id="email" name="email" type="email" ng-model="email" class="form-control"/>
          <br/>
          <button ng-click="resetPassword(email);" type="submit" class="btn btn-default">Resetuj šifru</button>
          <br/>
          <br/>
          <br/>
          <div class="alert alert-danger" role="alert" ng-show="message && error" style="text-transform: uppercase;">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Greška:</span>
            {{message}}
          </div>
          <div class="alert alert-info" role="alert" ng-show="message && !error" style="text-transform: uppercase;">
          <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>  TODO: ubaciti neku ikonicu-->
          {{message}}
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
