<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <label for="uname">Username </label>
        <span id="uname">{{account.username}}</span>
      </div>
      <div>
        <label for="age">Age</label>
        <span id="age">{{account.age}}</span>
      </div>
      <div>
        <label for="dob">Date of birth</label>
        <span id="dob">{{account.dob}}</span>
      </div>
      <div>
        <label for="email">Email</label>
        <span id="email">{{account.email}}</span>
      </div>
      <div>
        <label for="country">Country</label>
        <span id="country">{{account.country}}</span>
      </div>
      <div>
        <label for="sex">Sex</label>
        <span id="sex">{{account.sex}}</span>
      </div>
      <div>
        <label for="about">About</label>
        <span id="about">{{account.about}}</span>
      </div>
      <div>
        <label for="personality">Personality</label>
        <span id="personality">{{account.personality}}</span>
      </div>
      <div>
        <label for="occupation">Occupation</label>
        <span id="occupation">{{account.occupation}}</span>
      </div>
      <div>
        <label for="relationship">Relationship</label>
        <span id="relationship">{{account.relationship}}</span>
      </div>
      <div>
        <label for="id">ID</label>
        <span id="id">{{account.id}}</span>
      </div>
      <div>
        <label for="img">Image</label>
        <img id="img" src="{{account.image}}" alt="user_image" ng-show="account.image"/>
        <img src="" alt="avatar" ng-show="!account.image"/>
      </div>
      <div>
        <label for="level">Level</label>
        <span id="level"><!--TODO--></span>
      </div>
    </div>
    <div class="col-md-4">
      <a ui-sref="root.edit-profile()">Edit Profile</a>
    </div>
    <hr/>
    <div class="col-md-12">
      <h1>Questions</h1><br/>
      <div ng-repeat="question in questions">
        <div class="col-md-8">
          Title: <a ui-sref="root.question({id: question.id})">{{question.title}}</a><br/>
          Text: {{question.text}}<br/>
          Category: {{question.category.name}}<br/>
          Timestamp: {{question.timestamp}}
        </div>
        <div class="col-md-4">
          <a href="" ng-click="deleteQuestion(question)">Delete Question</a>
        </div>
        <hr/>
      </div>
      <h1>Answers</h1>
      <div ng-repeat="answer in answers">
        <div class="col-md-8">
          Timestamp: {{answer.timestamp}}<br/>
          Text: {{answer.text}}<br/>
          Question Title: {{answer.question.title}}
        </div>
        <div class="col-md-4">
          <a href="" ng-click="deleteAnswer(answer)">Delete Answer</a>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>

