<section class="container">
  <div class="row">
    <form role="form" class="form-signin" ng-submit="registerUser(acc)">
      <div class="col-md-9">
        <div class="content">
          <div class="row">
            <div class="col-md-8">

              <h1>Registracija</h1>
              <div class="form-group">
                <label for="email">Email adresa</label>
                <input id="email" type="email" placeholder="Email adresa" required="required" class="form-control" ng-model="acc.email"/>
              </div>
              <div class="form-group">
                <label for="password">Šifra</label>
                <input id="password" type="password" placeholder="Šifra" required="required" class="form-control" ng-model="acc.password"/>
              </div>

            </div>
            <div class="col-md-12 container">
              <hr class="form-devider"/>
              <div class="form-group">
                <label for="uname">Korisničko ime</label>
                <input id="uname" type="text" placeholder="Korisničko ime" required="required" class="form-control" ng-model="acc.username"/>
              </div>
              <div class="form-group row">
                <label for="country_box" class="col-md-12">Zemlja</label>
                <div id="country_box" class="col-md-4">
                  <select class="form-control" name="country" id="country" ng-model="acc.country" >
                    <option value="{{country.code}}" ng-repeat="country in countries">{{country.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <hr class="form-devider"/>
              <div class="form-group">
                <div class="row">
                  <label for="day" class="col-md-12">Datum rođenja:</label>
                  <div class="col-md-4">
                    <select id="day" class="form-control" ng-model="acc.day" ng-options="select as day.name for day in days track by day.name">
                      <option value="{{day.name}}" ng-repeat="day in days">{{day.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="month" class="form-control" ng-model="acc.month" ng-options="select as month.name for month in months track by month.name">
                      <option value="{{month.name}}" ng-repeat="month in months">{{month.name}}</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select id="year" class="form-control" ng-model="acc.year" ng-options="select as year.name for year in years track by year.name">
                      <option value="{{year.name}}" ng-repeat="year in years">{{year.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="gender">Pol</label>
                <div id="gender" class="radio" ng-model="acc.sex">
                  <label class="radio-inline" ng-repeat="s in sex">
                    <input type="radio" name="gender" value="{{s.value}}" ng-model="acc.sex" required="required" />{{s.name}}
                  </label>
                </div>
                <hr class="form-devider"/>
                <div class="form-bottom">
                  <label class="checkbox">
                    <!--<input type="checkbox" value="remember-me"/> I agree to<a href="#">Terms &amp; Conditions</a>-->
                  </label>
                  <button type="submit"  class="btn-green">
                    <div ng-show="loading" class="sp sp-circle" ></div>
                    <span ng-show="!loading">Registruj se</span>
                  </button>
                </div>
                <div id="errorMessage" class="alert alert-danger" role="alert" ng-show="error">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <!--<span class="sr-only">Greška:</span>-->
                  {{message}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <aside class="main-sidebar col-md-3" ui-view="sidebar"></aside>

  </div>
</section>

<style>


  .sp {
    margin-top: 0.75em;
    width: 2em;
    height: 2em;
  }

  /* Spinner Circle Rotation */
  .sp-circle {
    border: 4px rgba(255, 255, 255, 0.5) solid;
    border-top: 4px rgba(255, 255, 255, 1) solid;
    border-radius: 50%;
    -webkit-animation: spCircRot .6s infinite linear;
    animation: spCircRot .6s infinite linear;
  }

  @-webkit-keyframes spCircRot {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
  @keyframes spCircRot {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

</style>
