<section class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="content">
        <h1>Šta sledi?</h1>
        <p>
          Proverite da li vam je u inboks stigao mejl o potvrdi vašeg naloga. Kliknite na link postojećeg mejla kako bi kompletirali registraciju.
        </p>
        <p>
          Ukoliko vam nije stigao mejl, proverite Spam folder.
        </p>
      </div>
    </div>

    <aside class="main-sidebar col-md-3" ui-view="sidebar"></aside>
    
  </div>
</section>
